= form_for (group), html: { class: 'js-form', id: 'clean_form'} do |f|
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label 'グループ名', class: 'chat-group-form__label'
    .chat-group-form__field--right
      = f.text_field :name, placeholder: 'グループ名を入力してください', class: 'chat-group-form__input', id: 'chat_group_name'
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
      = f.label 'チャットメンバーを追加', class: 'chat-group-form__label'
    .chat-group-form__field--right
      = f.text_field :name, placeholder: '追加したいユーザーを入力してちょ❤', id: 'keyword', class: 'js-form__incre-form', id:"clean-form"
  .chat-group-form__field.clearfix
    = f.label 'チャットメンバー'
    .chat-group-form__field--right
  .chat-group-form__field.clearfix
    .chat-group-form__field--left
    .chat-group-form__field--right
      = f.submit 'Save', class: 'chat-group-form__action-btn'
