.chatmain
  = render partial:'common/chatside', locals: { group: @group }
  .chat-header
    .chat-header--left
      %p.chat-header--left__name
        = @group.name
      %p.chat-header--left__member
        Members:
        = @group.users.pluck(:name).join(",  ")
    .chat-header--right
      = link_to 'Edit', edit_group_path(@group), class: 'edit-string'
  %ul.chat-main-message
    = render @messages
  .chat-main-input
  = form_for [@group, @message], html: { id: 'js-form' } do |f|
    .chat-main-input__left
      = f.text_field :body, class: 'chat-main-input__input', placeholder: 'Type a message'
    .chat-main-input__center
      = f.label :image, for: "file_image",class: "fa fa-picture-o" do
        = f.file_field :image, id: "file_image", style: "display:none;"
    .chat-main-input__right
      = f.submit 'SEND', class: 'submitbox'




